In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_excel('FinalScrap.xlsx')

In [3]:
df=df.assign(category = lambda x: 'Mobile')

In [4]:
df.columns

Index(['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category', 'category'],
      dtype='object')

In [5]:
def check(x):
    if type(x)==float:
        return np.NaN
    else:
        x=x.split(',')
        if(len(x)!=2):
            return np.NaN
        else:
            x=x[1]
            return x

In [7]:
df['User_city']=df['User_city'].apply(check)

In [8]:
def check(x):
    if type(x)==float:
        return np.NaN
    else:
        x=x.lower()
        x=re.findall('\w',x)
        x=''.join(x)
        r = re.findall("(\d+[month|months|day|days]+ago)", x)
        if r!=[]:
            return r[0]
        r = re.findall("today", x)
        if r!=[]:
            return r[0]
        r = re.findall("[jan|january|feb|february|mar|march|apr|april|may|jun|june|july|aug|august|sep|september|oct|october|nov|november|dec|december]+\d\d\d\d", x)
        if r!=[]:
            return r[0][len(r[0])-7:len(r[0])]

In [9]:
df['Review_age1']=df['Review_age'].apply(check)

In [10]:
def check(x):
    if x=='osh0302':
        return 'oct2019'
    else:
        return x

In [13]:
def check(x):
    if x=='osh0302':
        return 'oct2019'
    else:
        return x

In [15]:
df['Review_age1']=df['Review_age1'].apply(check)

In [16]:
df['Review_age1'].unique()

array([nan])

In [17]:
df.columns

Index(['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category', 'category', 'Review_age1'],
      dtype='object')

In [18]:
df=df[['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age1', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category']]

In [19]:
df.columns=['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category']

In [20]:
df['Review_age']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
50658   NaN
50659   NaN
50660   NaN
50661   NaN
50662   NaN
Name: Review_age, Length: 50663, dtype: float64

In [21]:
import datetime
end_date = datetime.datetime(2019,12,1)
start_date = datetime.datetime(2020, 1, 1)

num_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)

In [22]:
num_months

-1

In [23]:
import datetime
datetime.datetime.strptime('April','%B').strftime('%b')

'Apr'

In [25]:
int(str(datetime.datetime.now().date()).split('-')[2])

21

In [623]:
def check(x):
    x=str(x)
    r=re.findall(r'oct', x)
    if r!=[]:
        c=re.findall(r'\d+', x)
        if c!=[]:
            monthname=datetime.datetime.strptime(r[0].capitalize(), "%b").month
            return c[0]+'-'+str(monthname)+'-'+str(datetime.datetime.now().date()).split('-')[2]
        else:
            return x
    else:
        return x

In [624]:
df['Review_age2']=df['Review_age2'].apply(check)

In [383]:
re.findall(r'\d+', 'jun2016')

['2016']

In [391]:
r=re.findall(r'monthsago', '10monthsago')
print(r)
if r!=[]:
    c=re.findall(r'\d+', '10monthsago')
    if c!=[]:
        print(c[0])

['monthsago']
10

In [636]:
df['Review_age2'].unique()

array(['1', '2', '0', '3', '21', '12', '8', '6', '7', '5', '4',
       '2019-10-20', '2019-11-20', '2019-6-20', '2019-5-20', '2018-11-20',
       '2019-9-20', '2019-8-20', '2019-7-20', '2019-12-20', '2020-1-20',
       '10', '2018-12-20', '2019-3-20', '2018-10-20', '2020-2-20', '11',
       '9', '2019-4-20', '2019-2-20', '2019-1-20', '22', '52', '13',
       '2017-12-20', '2015-6-20', '2016-4-20', '2018-9-20', '2018-7-20',
       '2015-7-20', '2018-8-20', '2015-12-20', '2017-10-20', '2018-3-20',
       '2017-11-20', '2016-3-20', '2018-6-20', '2018-5-20', '2018-4-20',
       '2018-2-20', '2018-1-20', '2017-9-20', '2017-8-20', '2017-7-20',
       '2017-6-20', '2017-5-20', '2017-3-20', '2016-12-20', '2016-7-20',
       '2016-5-20', '2016-2-20', '2016-1-20', '2015-8-20', '2015-1-20',
       '2014-12-20', '2017-4-20', '2017-1-20', '2017-2-20', '2016-11-20',
       '2014-11-20', '2015-3-20', '2016-6-20', '2016-8-20', '2016-9-20',
       '45'], dtype=object)

In [576]:
def check(x):
    x=str(x)
    r=re.findall(r'oct', x)
    if r!=[]:
        c=re.findall(r'\d+', x)
        if c!=[]:
            monthname=datetime.datetime.strptime(r[0].capitalize(), "%b").month
            return c[0]+'-'+str(monthname)+'-'+str(datetime.datetime.now().date()).split('-')[2]
        else:
            return x
    else:
        return x
check('oct2019')

10

'2019-10-20'

In [538]:
month_name = "Jan"
datetime_object = datetime.datetime.strptime('Feb', "%b").month
datetime_object

2

In [656]:
def check(x):
    l=x.split('-')
    if(len(l)>1):
        end_date = datetime.datetime(int(l[0]),int(l[1]),int(l[2]))
        start_date = datetime.datetime(2021, 2, 20)
        num_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)
        return int(abs(num_months))
    else:
        return int(x)

In [658]:
df['Review_age2']=df['Review_age2'].apply(check)

In [660]:
df['Review_age2'].unique()

array([ 1,  2,  0,  3, 21, 12,  8,  6,  7,  5,  4, 16, 15, 20, 27, 17, 18,
       19, 14, 13, 10, 26, 23, 28, 11,  9, 22, 24, 25, 52, 38, 68, 58, 29,
       31, 67, 30, 62, 40, 35, 39, 59, 32, 33, 34, 36, 37, 41, 42, 43, 44,
       45, 47, 50, 55, 57, 60, 61, 66, 73, 74, 46, 49, 48, 51, 75, 71, 56,
       54, 53], dtype=int64)

In [669]:
df.columns

Index(['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category', 'Review_age1', 'Review_age2'],
      dtype='object')

In [671]:
df=df[['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age2', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category']]

In [674]:
df.columns=['Review_title', 'Review_text', 'Review_rating', 'Review_upvotes',
       'Review_downvotes', 'User_city', 'Review_age_in_months', 'price', 'Product_brand',
       'Product_name', 'Product_feature', 'Product_average_rating',
       'Product_Category']

In [675]:
df.head()

,Review_title,Review_text,Review_rating,Review_upvotes,Review_downvotes,User_city,Review_age_in_months,price,Product_brand,Product_name,Product_feature,Product_average_rating,Product_Category
0,Just wow!,Good budget phone. Best battery and best perfo...,5.0,404,92,Thiruvananthapuram,1,7499,POCO,C3,3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.3,Mobile
1,Highly recommended,Camera And battery in the Best perform Superüëåüëå...,5.0,1122,447,Murarai,2,7499,POCO,C3,3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.3,Mobile
2,Brilliant,Very nice mobile in this price Battery perfor...,5.0,293,111,Kota,1,7499,POCO,C3,3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.3,Mobile
3,Delightful,Good product I like itPerformance is great üëçüëçD...,5.0,115,46,Dharmanagar,0,7499,POCO,C3,3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.3,Mobile
4,Not good,This phone is up to the mark. Camera of this p...,5.0,384,331,Chikkamagaluru,1,7499,POCO,C3,3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.3,Mobile

In [677]:
df.to_csv('Final.csv')

In [678]:
df.to_excel('Final.xlsx')