# Understanding Data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('churn.csv')

In [ ]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

# Data Cleaning

In [ ]:
# Observe that all these Object columns have two values - Yes and No
df.loc[:, ['Partner', 'Dependents', 'PhoneService', \
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', \
            'TechSupport', 'StreamingTV', 'StreamingMovies',\
            'PaperlessBilling', 'Churn']]

     Partner Dependents PhoneService  ... StreamingMovies PaperlessBilling Churn
0        Yes         No           No  ...              No              Yes    No
1         No         No          Yes  ...              No               No    No
2         No         No          Yes  ...              No              Yes   Yes
3         No         No           No  ...              No               No    No
4         No         No          Yes  ...              No              Yes   Yes
...      ...        ...          ...  ...             ...              ...   ...
7038     Yes        Yes          Yes  ...             Yes              Yes    No
7039     Yes        Yes          Yes  ...             Yes              Yes    No
7040     Yes        Yes           No  ...              No              Yes    No
7041     Yes         No          Yes  ...              No              Yes   Yes
7042      No         No          Yes  ...             Yes              Yes    No

[7043 rows x 11 columns]

In [ ]:
# Converting all the Yes to 1 and No to 0
var = ['Partner', 'Dependents', 'PhoneService', 
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
       'TechSupport', 'StreamingTV', 'StreamingMovies', 
       'PaperlessBilling', 'Churn']
for feature in var:
    df[feature] = df[feature].apply(lambda x : 1 if x=='Yes' else 0)  
df.head()

   customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0  7590-VHVEG  Female              0  ...           29.85         29.85      0
1  5575-GNVDE    Male              0  ...           56.95        1889.5      0
2  3668-QPYBK    Male              0  ...           53.85        108.15      1
3  7795-CFOCW    Male              0  ...           42.30       1840.75      0
4  9237-HQITU  Female              0  ...           70.70        151.65      1

[5 rows x 21 columns]

In [ ]:
# Now again having a look at all those columns to see if everything went well
df.loc[:, ['Partner', 'Dependents', 'PhoneService', \
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', \
            'TechSupport', 'StreamingTV', 'StreamingMovies',\
            'PaperlessBilling', 'Churn']]

      Partner  Dependents  ...  PaperlessBilling  Churn
0           1           0  ...                 1      0
1           0           0  ...                 0      0
2           0           0  ...                 1      1
3           0           0  ...                 0      0
4           0           0  ...                 1      1
...       ...         ...  ...               ...    ...
7038        1           1  ...                 1      0
7039        1           1  ...                 1      0
7040        1           1  ...                 1      0
7041        1           0  ...                 1      1
7042        0           0  ...                 1      0

[7043 rows x 11 columns]

In [ ]:
# Observe that all those columns are now converted from Object to Int64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   int64
dtypes: float64(1), int64(13), object(7)
memory usage: 1.1+ MB

In [ ]:
# Checking all the Object Dtypes - Here, these columns have more than 2 categories
df.loc[:5, ['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod', 'TotalCharges']]

      MultipleLines InternetService  ...              PaymentMethod TotalCharges
0  No phone service             DSL  ...           Electronic check        29.85
1                No             DSL  ...               Mailed check       1889.5
2                No             DSL  ...               Mailed check       108.15
3  No phone service             DSL  ...  Bank transfer (automatic)      1840.75
4                No     Fiber optic  ...           Electronic check       151.65
5               Yes     Fiber optic  ...           Electronic check        820.5

[6 rows x 5 columns]

In [ ]:
# You can also do this to separate Object columns
df.select_dtypes(include=['object'])

      customerID  gender  ...              PaymentMethod TotalCharges
0     7590-VHVEG  Female  ...           Electronic check        29.85
1     5575-GNVDE    Male  ...               Mailed check       1889.5
2     3668-QPYBK    Male  ...               Mailed check       108.15
3     7795-CFOCW    Male  ...  Bank transfer (automatic)      1840.75
4     9237-HQITU  Female  ...           Electronic check       151.65
...          ...     ...  ...                        ...          ...
7038  6840-RESVB    Male  ...               Mailed check       1990.5
7039  2234-XADUH  Female  ...    Credit card (automatic)       7362.9
7040  4801-JZAZL  Female  ...           Electronic check       346.45
7041  8361-LTMKD    Male  ...               Mailed check        306.6
7042  3186-AJIEK    Male  ...  Bank transfer (automatic)       6844.5

[7043 rows x 7 columns]

In [ ]:
# Lets just try to see what is happening with TotalCharges. Check the output.
df['TotalCharges'].value_counts()

           11
20.2       11
19.75       9
20.05       8
19.65       8
           ..
6362.35     1
7782.85     1
3895.35     1
4977.2      1
4236.6      1
Name: TotalCharges, Length: 6531, dtype: int64

In [ ]:
# Converting empty string in TotalCharges to NaN
df['TotalCharges'] = df['TotalCharges'].apply(lambda x : np.NaN if x==' ' else float(x))

In [ ]:
# TotalCharges should be a float but it is a Object type. Lets try converting it to float64
df['TotalCharges'] = df['TotalCharges'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(13), object(6)
memory usage: 1.1+ MB

In [ ]:
# Observe the output, TotalCharges has 11 Missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(13), object(6)
memory usage: 1.1+ MB

In [ ]:
# Dropping customerID
df = df.drop('customerID', axis=1)
df.shape

(7043, 20)

In [ ]:
# Getting all the Object Dtypes
df_categorical = df.select_dtypes(include=['object'])
df_categorical.head()

   gender     MultipleLines  ...        Contract              PaymentMethod
0  Female  No phone service  ...  Month-to-month           Electronic check
1    Male                No  ...        One year               Mailed check
2    Male                No  ...  Month-to-month               Mailed check
3    Male  No phone service  ...        One year  Bank transfer (automatic)
4  Female                No  ...  Month-to-month           Electronic check

[5 rows x 5 columns]

In [ ]:
# Encoding the categorical features
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)
# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)
df_encoded = pd.DataFrame(encoder.fit_transform(df_categorical), 
                      columns=encoder.get_feature_names(df_categorical.columns))
df_encoded.head()

   gender_Male  ...  PaymentMethod_Mailed check
0          0.0  ...                         0.0
1          1.0  ...                         1.0
2          1.0  ...                         1.0
3          1.0  ...                         0.0
4          0.0  ...                         0.0

[5 rows x 10 columns]

In [ ]:
df.shape

(7043, 20)

In [ ]:
df = pd.concat([df, df_encoded], axis=1)
df.head()

   gender  ...  PaymentMethod_Mailed check
0  Female  ...                         0.0
1    Male  ...                         1.0
2    Male  ...                         1.0
3    Male  ...                         0.0
4  Female  ...                         0.0

[5 rows x 30 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7043 non-null   object
 1   SeniorCitizen                          7043 non-null   int64
 2   Partner                                7043 non-null   int64
 3   Dependents                             7043 non-null   int64
 4   tenure                                 7043 non-null   int64
 5   PhoneService                           7043 non-null   int64
 6   MultipleLines                          7043 non-null   object
 7   InternetService                        7043 non-null   object
 8   OnlineSecurity                         7043 non-null   int64
 9   OnlineBackup                           7043 non-null   int64
 10  DeviceProtection                       7043 non-null   int64
 11  TechSupport                            7043 non-null   int64
 12  StreamingTV                            7043 non-null   int64
 13  StreamingMovies                        7043 non-null   int64
 14  Contract                               7043 non-null   object
 15  PaperlessBilling                       7043 non-null   int64
 16  PaymentMethod                          7043 non-null   object
 17  MonthlyCharges                         7043 non-null   float64
 18  TotalCharges                           7032 non-null   float64
 19  Churn                                  7043 non-null   int64
 20  gender_Male                            7043 non-null   float64
 21  MultipleLines_No phone service         7043 non-null   float64
 22  MultipleLines_Yes                      7043 non-null   float64
 23  InternetService_Fiber optic            7043 non-null   float64
 24  InternetService_No                     7043 non-null   float64
 25  Contract_One year                      7043 non-null   float64
 26  Contract_Two year                      7043 non-null   float64
 27  PaymentMethod_Credit card (automatic)  7043 non-null   float64
 28  PaymentMethod_Electronic check         7043 non-null   float64
 29  PaymentMethod_Mailed check             7043 non-null   float64
dtypes: float64(12), int64(13), object(5)
memory usage: 1.6+ MB

In [ ]:
df_categorical.columns

Index(['gender', 'MultipleLines', 'InternetService', 'Contract',
       'PaymentMethod'],
      dtype='object')

In [ ]:
df = df.drop(df_categorical.columns, axis=1)

In [ ]:
df.head()

   SeniorCitizen  ...  PaymentMethod_Mailed check
0              0  ...                         0.0
1              0  ...                         1.0
2              0  ...                         1.0
3              0  ...                         0.0
4              0  ...                         0.0

[5 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   Partner                                7043 non-null   int64
 2   Dependents                             7043 non-null   int64
 3   tenure                                 7043 non-null   int64
 4   PhoneService                           7043 non-null   int64
 5   OnlineSecurity                         7043 non-null   int64
 6   OnlineBackup                           7043 non-null   int64
 7   DeviceProtection                       7043 non-null   int64
 8   TechSupport                            7043 non-null   int64
 9   StreamingTV                            7043 non-null   int64
 10  StreamingMovies                        7043 non-null   int64
 11  PaperlessBilling                       7043 non-null   int64
 12  MonthlyCharges                         7043 non-null   float64
 13  TotalCharges                           7032 non-null   float64
 14  Churn                                  7043 non-null   int64
 15  gender_Male                            7043 non-null   float64
 16  MultipleLines_No phone service         7043 non-null   float64
 17  MultipleLines_Yes                      7043 non-null   float64
 18  InternetService_Fiber optic            7043 non-null   float64
 19  InternetService_No                     7043 non-null   float64
 20  Contract_One year                      7043 non-null   float64
 21  Contract_Two year                      7043 non-null   float64
 22  PaymentMethod_Credit card (automatic)  7043 non-null   float64
 23  PaymentMethod_Electronic check         7043 non-null   float64
 24  PaymentMethod_Mailed check             7043 non-null   float64
dtypes: float64(12), int64(13)
memory usage: 1.3 MB

# Outliers

In [ ]:
df.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'gender_Male',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [ ]:
df.head()

   SeniorCitizen  ...  PaymentMethod_Mailed check
0              0  ...                         0.0
1              0  ...                         1.0
2              0  ...                         1.0
3              0  ...                         0.0
4              0  ...                         0.0

[5 rows x 25 columns]

In [ ]:
var = ['tenure', 'MonthlyCharges', 'TotalCharges']
df[var].describe(percentiles=[.25, .5, .75, .90, .95, .99])

            tenure  MonthlyCharges  TotalCharges
count  7043.000000     7043.000000   7032.000000
mean     32.371149       64.761692   2283.300441
std      24.559481       30.090047   2266.771362
min       0.000000       18.250000     18.800000
25%       9.000000       35.500000    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.850000   3794.737500
90%      69.000000      102.600000   5976.640000
95%      72.000000      107.400000   6923.590000
99%      72.000000      114.729000   8039.883000
max      72.000000      118.750000   8684.800000

# Missing Values

In [ ]:
df.isnull().sum()

SeniorCitizen                             0
Partner                                   0
Dependents                                0
tenure                                    0
PhoneService                              0
OnlineSecurity                            0
OnlineBackup                              0
DeviceProtection                          0
TechSupport                               0
StreamingTV                               0
StreamingMovies                           0
PaperlessBilling                          0
MonthlyCharges                            0
TotalCharges                             11
Churn                                     0
gender_Male                               0
MultipleLines_No phone service            0
MultipleLines_Yes                         0
InternetService_Fiber optic               0
InternetService_No                        0
Contract_One year                         0
Contract_Two year                         0
PaymentMethod_Credit card (automatic)     0
PaymentMethod_Electronic check            0
PaymentMethod_Mailed check                0
dtype: int64

In [ ]:
df = df[~np.isnan(df['TotalCharges'])]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7032 non-null   int64
 1   Partner                                7032 non-null   int64
 2   Dependents                             7032 non-null   int64
 3   tenure                                 7032 non-null   int64
 4   PhoneService                           7032 non-null   int64
 5   OnlineSecurity                         7032 non-null   int64
 6   OnlineBackup                           7032 non-null   int64
 7   DeviceProtection                       7032 non-null   int64
 8   TechSupport                            7032 non-null   int64
 9   StreamingTV                            7032 non-null   int64
 10  StreamingMovies                        7032 non-null   int64
 11  PaperlessBilling                       7032 non-null   int64
 12  MonthlyCharges                         7032 non-null   float64
 13  TotalCharges                           7032 non-null   float64
 14  Churn                                  7032 non-null   int64
 15  gender_Male                            7032 non-null   float64
 16  MultipleLines_No phone service         7032 non-null   float64
 17  MultipleLines_Yes                      7032 non-null   float64
 18  InternetService_Fiber optic            7032 non-null   float64
 19  InternetService_No                     7032 non-null   float64
 20  Contract_One year                      7032 non-null   float64
 21  Contract_Two year                      7032 non-null   float64
 22  PaymentMethod_Credit card (automatic)  7032 non-null   float64
 23  PaymentMethod_Electronic check         7032 non-null   float64
 24  PaymentMethod_Mailed check             7032 non-null   float64
dtypes: float64(12), int64(13)
memory usage: 1.4 MB

In [ ]:
sum(df['Churn'])/len(df['Churn'].index)*100

26.578498293515356

In [ ]:
df['Churn'].value_counts()
# Churn 'Yes' are 1

0    5163
1    1869
Name: Churn, dtype: int64

# Under Sampling

In [ ]:
# for undersampling we need a portion of majority class and will take whole data of minority class
# Lets shuffle the data before creating the subsamples
df = df.sample(frac=1)

# amount of fraud classes 492 rows.
Yes_df = df.loc[df['Churn'] == 1]
No_df = df.loc[df['Churn'] == 0][:1869]

normal_distributed_df = pd.concat([Yes_df, No_df])

# Shuffle dataframe rows
new_df = normal_distributed_df.sample(frac=1, random_state=42)

new_df.head()

      SeniorCitizen  ...  PaymentMethod_Mailed check
5931              1  ...                         0.0
3991              0  ...                         0.0
1236              0  ...                         0.0
5301              0  ...                         0.0
926               1  ...                         0.0

[5 rows x 25 columns]

In [ ]:
new_df.shape

(3738, 25)

In [ ]:
X = new_df.drop('Churn',axis = 1)
y= new_df['Churn']

In [ ]:
# Data-preprocessing: Standardizing the data
from sklearn.preprocessing import StandardScaler
standardized_data = StandardScaler().fit_transform(X)
print(standardized_data.shape)

(3738, 24)

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(standardized_data,y,train_size=0.8,random_state=0)

In [ ]:
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(2990, 24) (2990,)
(748, 24) (748,)

# Hyperparameter Tuning

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV

In [92]:
evaluation_metric=['accuracy','precision','recall']
tuned_parameters = [{'kernel': ['rbf'], 'gamma': np.random.rand(3) , 'C': [1, 10, 100, 1000]},
                    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}]

for i in evaluation_metric:
    clf = RandomizedSearchCV(SVC(), tuned_parameters, scoring='{}'.format(i))
    clf.fit(x_train, y_train)
    print("Best parameters set found on train set:")
    print('for {}'.format(i))
    print(clf.best_params_)
    print(clf.best_estimator_)
    print()
    print(clf.score(x_test, y_test))

Best parameters set found on train set:
for accuracy
{'kernel': 'linear', 'C': 100}
SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

0.7312834224598931
Best parameters set found on train set:
for precision
{'kernel': 'rbf', 'gamma': 0.8211700192931897, 'C': 1}
SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.8211700192931897,
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

0.7739130434782608
Best parameters set found on train set:
for recall
{'kernel': 'linear', 'C': 10}
SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

0.8277634961439588


# Train the Model

In [96]:
clf = SVC(kernel='linear',C=10)  
clf.fit(x_train,y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Predict

In [97]:
y_test_predict=clf.predict(x_test)

In [98]:
temp_data=pd.DataFrame({'y_test':y_test,'y_test_pred':y_test_predict})

In [99]:
temp_data.head()

      y_test  y_test_pred
1904       1            1
463        1            1
6121       0            0
1890       1            0
5902       0            1

#  **Evaluation**-using accuracy,confusion matrix,recall,precision,f1score,ROC-AUC curve

In [100]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_test_predict))
print(metrics.precision_score(y_test,y_test_predict))
print(metrics.roc_auc_score(y_test,y_test_predict))
print(metrics.f1_score(y_test,y_test_predict))
print(metrics.recall_score(y_test,y_test_predict))

0.7312834224598931
0.706140350877193
0.7272522216095839
0.7621301775147928
0.8277634961439588

In [101]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_test_predict))
print(classification_report(y_test, y_test_predict))

[[225 134]
 [ 67 322]]
              precision    recall  f1-score   support

           0       0.77      0.63      0.69       359
           1       0.71      0.83      0.76       389

    accuracy                           0.73       748
   macro avg       0.74      0.73      0.73       748
weighted avg       0.74      0.73      0.73       748